.form-control
{
         
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      margin-bottom: 4%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.file
{
  position:relative;
  overflow: hidden;
  width:100%;
  border:none;
  border-radius: 0;
  background-color: 
 #212529b8;
 font-size: 16px;

}
.file input{
  position: absolute;
  opacity:0;
  top:0%;
  right:0;
}
.form-row
{
  margin-bottom:1%;
}
label{
  margin-left:2%
}
.form-outer
{
    background-color: skyblue;
}