
.profile-img{
    text-align: center;
}
.profile-img img{
    width:100%;
    height:35%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -10%;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-img
{
    color: whitesmoke;
    opacity: 0.9;
    font-weight: 600;
    background-blend-mode: screen,overlay;
}
.form-tab .card
{
    margin-bottom:3rem ;
    opacity: 0.9;
}
.profile-tab .card
{
    opacity: 0.9;
}
.card-header
{
    background-color:#ff586b;
    color:whitesmoke;
    font-weight: 600;
}
.form-group label,.form-row label{
    color:#009da0;
    font-weight: 600;
}
.form-control
{
    border:none;   
    border-bottom: 3px solid #009da0;
     outline: none;
     font-weight: 600;
     color:rgba(0, 0,0, 0.87);
     box-shadow: 2px 2px 4px transparent;
}
.list-group .active
{
    background-color: #009da0 !important;
    color:whitesmoke;
    font-weight: 600;
    cursor: pointer;
}
.list-group
{
    cursor: pointer;
}
.list-group .list-group-item:hover
{
    background-color: #009da0 !important;
    color:whitesmoke;
    font-weight: 600;
}