<router-outlet></router-outlet>

<div class="container-fluid py-3">
  <div class="alert alert-info  mx-auto alert-dismissible fade show" role="alert" *ngIf="!canmodify">
    <strong>Click Here!</strong> You can edit your profile.
    <button class="btn btn-sm  py-0 btn-primary float-right" (click)="canedit()"><i class="fas fa-edit"></i> edit</button>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12 profile-tab">
      <div class="profile-bar">
            <!--profile image section-->
            <div class="profile-img text-center py-3">
              <img src="../../assets/img/brand/profile.jpg" class="avatar">
              <h6 class="mt-2">{{profileData.username}}</h6>
              <p>{{profileData.firstName}}</p>
            </div>
         <!--Account Information-->
         <div class="row">
          <div class="col-md-12">
           <div class="card">
              <div class="card-header">Account Info <i class="fas fa-barcode float-right"></i></div>
              <div class="card-body">
                <!--username field-->
               <div class="form-group">
               <label for="username">User ID</label>
               <input type="text" readonly class="form-control" value={{profileData.username}}>
               </div>
               <!--first name and last name-->
               <div class="form-row">
                 <div class="col-md-6">
                   <label for="firstname">First Name</label>
                   <input type="text" readonly  class="form-control" value={{profileData.firstname}} >
                  </div>
                   <div class="col-md-6">
                         <label for="lastname">Last Name</label>
                         <input type="text" readonly  class="form-control" value="{{profileData.lastname}}"> 
                   </div>
               </div> 
             </div>
             <!--End of card-body-->
            </div>
            </div> 
            </div>

               <!--profile menu bar-->
            <div class="list-group" role="tablist">
              <a class="list-group-item list-group-item-action active" aria-controls="home"><i class="fas fa-edit px-3"></i>Edit Profile</a>
              <a class="list-group-item list-group-item-action " ><i class="fa fa-info-circle px-3"></i> About</a>
              <a class="list-group-item list-group-item-action" ><i class="fa fa-users px-3"></i>Friends</a>
              <a class="list-group-item list-group-item-action" ><i class="fa fa-file-image px-3"></i>Gallery</a>
              <a class="list-group-item list-group-item-action" ><i class="fa fa-tags px-3"></i>Timeline</a>
              <a class="list-group-item list-group-item-action" ><i class="fa fa-bell  px-3" aria-hidden="true"></i>Notification</a>
            </div>
      </div>         
    </div>

    <div class="col-md-7 form-tab">
       <div class="row">
        <form [formGroup]="profileForm" class="w-100" (ngSubmit)="onSubmit()">

           <!--Personal Details-->
           <div class="col-md-12">
             <div class="card">
               <div class="card-header">
                 Personal info  <i class="fas fa-user-shield float-right"></i></div>
               <div class="card-body">
                 <!--firstname and lastname-->
                 <div class="form-row mb-2">
                  <div class="col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" placeholder="First name" formControlName="firstname" [ngClass]="{ 'is-invalid': f.firstname.errors && f.firstname.touched}">
                      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                          <div *ngIf="f.firstname.errors.required">First Name is required</div>
                      </div>
                   </div>
                    <div class="col-md-6">
                          <label for="lastname">Last Name</label>
                          <input type="text" class="form-control" placeholder="Last name" formControlName="lastname" [ngClass]="{ 'is-invalid': f.lastname.errors && f.lastname.touched}" >
                          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                              <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                          </div> 
                    </div>
                </div> 
                <!--Birthdate-->
                <div class="form-group">
                  <label for="dob">Birthday</label>
                  <input type="text" class="form-control" onfocus="(this.type='date')" formControlName="dob"  onblur="(this.type='text')" placeholder="Date of Birth" >    
                </div>
                <!--Lives In-->
                <div class="form-group">
                  <label for="Lives In">Lives In</label>
                  <input type="text" class="form-control"  formControlName="city"  placeholder="City Name" >    
                </div>
                <!--Email Address-->
                <div class="form-group">
                  <label for="email">Personal Email</label>
                  <input type="email" class="form-control" placeholder="Email Address" formControlName="email"[ngClass]="{ 'is-invalid': f.email.errors && f.email.touched}" >
                   <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors">give a proper mail address</div>
                    </div> 
                </div>
                <!-- Gender-->
                <label for="gender mb-2">Gender</label>
                <div class="custom-control custom-radio custom-control-inline pl-5 mb-2">
                  <input type="radio" class="custom-control-input" formControlName="gender" name="gender" value="male" id="gender1">
                  <label class="custom-control-label" for="gender1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline mb-2">
                  <input type="radio" class="custom-control-input" formControlName="gender" name="gender" value="female" id="gender2">
                  <label class="custom-control-label" for="gender2">Female</label>
                </div> 
               </div>
             </div>
            </div>
             <!--About ME-->
             <div class="col-md-12">
              <div class="card">
                <div class="card-header">About Me <i class="fa fa-user-secret float-right" aria-hidden="true"></i></div>
                 <textarea maxlength="250" class="card-body form-control" formControlName="bio" rows="4"> 
                 </textarea>            
              </div>
             </div>
             
            <!--end of edit profile form-->
              <!--submit button-->
              <div class="form-group float-right " *ngIf="canmodify">
                <button [disabled]="profileForm.invalid"  type="submit" class="btn btn-md btn-success my-1 mx-2">  
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                </button> 
                <button class="btn btn-md btn-secondary my-1 mx-3" (click)="canedit()"> Cancel</button> 
             </div>
        </form>
       </div>
       <!--end of col-md-8-->
    </div>
    <!--end of outer row-->
  </div>
</div>