.avatar
{
    width:100px;
    height:100px;
    border:7px solid whitesmoke;
    border-radius: 80%; 
}
.profile-img
{
    margin: auto !important;
    background-color:#ff586b;
    color: whitesmoke;
    opacity: 0.9;
    font-weight: 600;
    background-blend-mode: screen,overlay;
}
.form-tab .card
{
    margin-bottom:3rem ;
    opacity: 0.9;
}
.profile-tab .card
{
    margin:1rem 0;
    opacity: 0.9;
}
.card-header
{
    background-color:#ff586b;
    color:whitesmoke;
    font-weight: 600;
}
.form-group label,.form-row label{
    color:#009da0;
    font-weight: 600;
}
.form-control
{
    border:none;   
    border-bottom: 3px solid #009da0;
     outline: none;
     font-weight: 600;
     color:rgba(0, 0,0, 0.87);
     box-shadow: 2px 2px 4px transparent;
}
.list-group .active
{
    background-color: #009da0 !important;
    color:whitesmoke;
    font-weight: 600;
    cursor: pointer;
}
.list-group
{
    cursor: pointer;
}
.list-group .list-group-item:hover
{
    background-color: #009da0 !important;
    color:whitesmoke;
    font-weight: 600;
}