<nav class="navbar navbar-expand-md navbar-light" *ngIf="currentUser && ismenu" [ngClass]="{'navbar-vertical':ismenu}">
    <div class="container-fluid">
       <div class="row">

           <div class="col-sm-12">
                    <!--brand-->
                    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/']">
                    <img src="../../assets/img/brand/red.png" class="navbar-brand-img" alt="...">
                    </a>
           </div>

           <div class="profile-details  col-sm-12">
             <div class="dropdown-divider"></div>
              <div class="card ">
                <div class="card-block text-center">
                    <img [src]="profilepic" class="avatar pb-1">
                    <h6 class="card-title pb-1" *ngIf=profileData.username>{{profileData.username}}</h6>
                    <p class="card-subtitle" *ngIf=profileData.email>{{profileData.email}}</p>
                </div>
                <div class="card-footer text-center">
                    <ng-template #UserProfile >Profile</ng-template>
                    <ng-template #message>Chat</ng-template>
                    <ng-template #logout>Log Out</ng-template>
                    <button [ngbTooltip]="UserProfile" placement="top" type="button" class="btn btn-outline-warning mr-3"><span class="material-icons" >person</span></button>  
                    <button [ngbTooltip]="message" placement="bottom" type="button" class="btn btn-outline-warning mr-3"><span class="material-icons" >chat_bubble_outline</span></button>
                    <button [ngbTooltip]="logout" placement="top" type="button" class="btn btn-outline-warning mr-3"><span class="material-icons" >settings_power</span></button>
                </div>
              </div>
              <div class="dropdown-divider"></div>
           </div>

           <div class="col-sm-12">

             <!--Navigation-->
                <ul class="navbar-nav navigation">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-home px-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-users px-2" aria-hidden="true"></i>Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa fa-user-plus px-2" aria-hidden="true"></i>Friend Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-user-shield px-2"></i>About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fab fa-rocketchat px-2"></i>Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-question-circle px-2"></i>Help</a>
                    </li>
                </ul>              
            </div>
       </div>
    </div>
</nav>