    <div class="modal-body"  id="view-profile">
      <div class="row">
        <!--profile pic-->
       <p> {{name}} </p>
        <div class="col-md-12">
          <div class="card-img-top">
            <img src="../../assets/img/brand/profile.jpg" class="profile-pic">
          </div>    
        </div>
        <!--Profile Details-->
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
  
                <!--name details-->
                <div class="col-md-4 col-sm-6">
                  <div class="box">
                   <h6><i class="fa fa-address-card px-2" aria-hidden="true"></i>user name</h6>
                   <p>{{profile.username}}</p>
                  </div> 
                  <div class="box">
                   <h6> <i class="fa fa-user-plus px-2" aria-hidden="true"></i> first name</h6>
                   <p >{{profile.firstname}}</p>
                  </div> 
                  <div class="box">
                   <h6><i class="fa fa-lastfm px-2" aria-hidden="true"></i> last name</h6>
                   <p>{{profile.lastname}}</p>
                  </div> 
                </div>

                <!--data of birth-->
                <div class="col-md-4 col-sm-6">
                    <div class="box">
                      <h6><i class="fa fa-birthday-cake px-2"></i> Birthday</h6>
                      <p>{{profile.dob}}</p>
                     </div> 
                     <div class="box">
                      <h6> <i class="fas fa-globe px-2"></i> Lives in</h6>
                      <p>{{profile.city}}</p>
                     </div> 
                     <div class="box">
                      <h6> <i class="fa fa-envelope px-2" aria-hidden="true"></i> email</h6>
                      <p>{{profile.email}}</p>
                     </div> 
                  </div>
                <!--mobile number-->
                <div class="col-md-4 col-sm-6">
                    <div class="box">
                      <h6> <i class="fa fa-mobile px-2" aria-hidden="true"></i>contant</h6>
                      <p>{{profile.email}}</p>
                     </div> 
                     <div class="box">
                      <h6> <i class="fa fa-transgender-alt px-2" aria-hidden="true"></i> gender</h6>
                      <p>{{profile.gender}}</p>
                     </div> 
                  </div>
                
              </div>
                 <!--card row ended-->
            </div>
          </div>
          <!--card ends--> 
        </div>
      
      </div>
         <!--Outer row  ended-->
    </div>

  