.top-navigation
{
    background-color:#3ca2e0;
    cursor: pointer;
}
.top-navigation .navbar-nav .nav-item
{
    margin:0.25rem 0 !important;
}
.top-navigation .navbar-nav .nav-link
{
    margin:0px 5px !important;
}
.top-navigation .navbar-nav .form-control
{
    outline:none !important;
    border-radius: 22px;
    
}
.avatar-profile
{
    width: 35px;
    max-width: 50px;
    height:35px;
    max-height: 50px;
    border-radius: 70%;
}
.top-navigation .nav-item .nav-link>i
{
    font-size: 28px !important;
    margin-top:3px !important;
}
.dropdown-menu-right a:hover
{
    background-color:#009da0 !important;
    color:whitesmoke;
}
.dropdown-menu-right .active
{
    background-color:#009da0 !important;
    color:whitesmoke;
}