.top-navigation
{
    max-width: 100%;
    background-color:bisque;
}
.top-navigation .navbar-brand-img,
.top-navigation .nav-brand>img
{
    width: 20%;
    max-width: 30%;
    max-height:3rem;
}
.top-navigation .navbar-nav .nav-item
{
    margin:0.25rem 0 !important;
}
.top-navigation .navbar-nav .nav-link
{
    margin:0px 5px !important;
}
.top-navigation .navbar-nav .form-control
{
    outline:none !important;
    border-radius: 22px;
    
}
.avatar-profile
{
    width: 35px;
    max-width: 50px;
    height:35px;
    max-height: 50px;
    border-radius: 70%;
}
.top-navigation .nav-item .nav-link>i
{
    font-size: 28px !important;
    margin-top:3px !important;
}
