<nav class="navbar top-navigation navbar-expand-md navbar-light" *ngIf="currentUser">
       
       <!--Toogler-->
       <a type="button" [ngbTooltip]="menu"
                (click)="toolme()">
       <span class="navbar-toggler-icon"></span></a>

       <!--Navigation-->
      <ul class="navbar-nav ml-auto">
           <!--Search Form-->
          <form class="form-inline my-2">
            <input class="form-control mx-5" type="search" [ngbTooltip]="search" placeholder="Search.." autocomplete="off" aria-label="Search">
          </form>
          <!--Nav items-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" [ngbTooltip]="fullscreen" routerLinkActive="active"><i class="material-icons">fullscreen</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngbTooltip]="chat"><i class="material-icons">chat_bubble_outline</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[ngbTooltip]="notification"><i class="material-icons">notification_important</i></a>
          </li>
          <!--Ngb Dropdown-->
          <li class="nav-item"  ngbDropdown  [open]="false">
            <a class="nav-link"  [ngbTooltip]="UserProfile" routerLinkActive="active" id="profile" display="Profile">
              <img src="../../assets/img/brand/profile.jpg" ngbDropdownToggle class="avatar-profile">
            </a>
             <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="profile">
              <a ngbDropdownItem  routerLinkActive="active"  routerLink="/profile"><span class="fa fa-user pr-3" aria-hidden="true"></span>My Profile</a>
              <a ngbDropdownItem routerLink="/edit-profile"  routerLinkActive="active"><span class="fa fa-edit pr-3"></span>Edit Profile</a>
              <a ngbDropdownItem routerlink="['/']"    routerLinkActive="active"><span class="fas fa-key pr-3"></span>Change Password</a>
              <a ngbDropdownItem routerLink="['/']" routerLinkActive="active" ><span class="fa fa-envelope pr-3"></span> Inbox</a>
              <a ngbDropdownItem routerLink="['/']" routerLinkActive="active"><span class="fas fa-cog pr-3"></span>Setting</a>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem (click)="logout()"><span class="fas fa-running pr-3" ></span>Log Out</a>
            </div>            
          </li>
      </ul>
        <!--Ngb Tooltips-->
        <ng-template #UserProfile >Profile</ng-template>
        <ng-template #notification>Notification</ng-template>
        <ng-template #chat >Message</ng-template>
        <ng-template #fullscreen >Full Screen</ng-template>
        <ng-template #search >Search Here friends and messages</ng-template>
        <ng-template #menu>Menu</ng-template>
        
</nav>