<div class="card">
    <img class="card-img-top" [src]="coverpic" alt="Card image">
    <div class="bottom-right">
      <div class="file btn btn-lg btn-primary">
       <i class="	fa fa-tasks pr-2"></i> Change Photo
          <input type="file" name="image" (change)="selectImage($event)" />
      </div>
    </div>
    <img [src]="photo" class="avatar">
   
    <div class="card-body">
      <div class="row">
        <div class="col-md-3"><a [routerLink]="['about']" routerLinkActive="active" >About</a></div>
        <div class="col-md-4"><a>Timeline</a></div>
        <div class="col-md-3 "><a>Friends</a></div>
        <div class="col-md-2"><a>Photo</a></div>
      </div>    
    </div>
  </div>