<div class="col-md-12 mt-3">
  <div class="card">
    <div class="card-header">Personal infomation</div>
    <div class="card-body">
      <div class="card-title">About me</div>
      <div class="card-body">{{profileData.bio}}</div>
      <div class="card-text"></div>
      <div class="dropdown-divider mb-3"></div>
       <div class="row">
         <div class="col-md-4 col-sm-6">
           <div class="box">
            <h6><i class="fa fa-address-card px-2" aria-hidden="true"></i>user name</h6>
            <p>{{profileData.username}}</p>
           </div> 
           <div class="box">
            <h6> <i class="fa fa-user-plus px-2" aria-hidden="true"></i> first name</h6>
            <p>{{profileData.firstname}}</p>
           </div> 
           <div class="box">
            <h6><i class="fa fa-lastfm px-2" aria-hidden="true"></i> last name</h6>
            <p>{{profileData.lastname}}</p>
           </div> 
         </div>
         <div class="col-md-4 col-sm-6">
          <div class="box">
            <h6><i class="fa fa-birthday-cake px-2"></i> Birthday</h6>
            <p>{{profileData.dob}}</p>
           </div> 
           <div class="box">
            <h6> <i class="fas fa-globe px-2"></i> Lives in</h6>
            <p>{{profileData.city}}</p>
           </div> 
           <div class="box">
            <h6> <i class="fa fa-envelope px-2" aria-hidden="true"></i> email</h6>
            <p>{{profileData.email}}</p>
           </div> 
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box">
            <h6> <i class="fa fa-mobile px-2" aria-hidden="true"></i> phone number</h6>
            <p>lokesh</p>
           </div> 
           <div class="box">
            <h6> <i class="fa fa-transgender-alt px-2" aria-hidden="true"></i> gender</h6>
            <p>{{profileData.gender}}</p>
           </div> 
        </div>
       </div>
    </div>
  </div>
</div>